@import './Global.scss';

*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: $base-font-family;
    font-size: $baze-font-size;
    background-color: $color-very-dark-blue;
    color:$color-white;
}

.appContainer{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
